[submodule "code/cneuromod_extract_tseries"]
	path = code/cneuromod_extract_tseries
	url = git@github.com:courtois-neuromod/cneuromod_extract_tseries.git
[submodule "stimuli/videos/friends"]
	path = stimuli/videos/friends
	url = git@github.com:courtois-neuromod/friends.stimuli.git
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
	datalad-url = git@github.com:courtois-neuromod/friends.stimuli.git
